Repository jfischburg-wci/cognitiveos-historical-social-model, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, svelte, documentation, services, packages

.github/labeler.yml:

frontend:
  - 'services/**/frontend/**'
svelte:
  - '**/*.svelte'
documentation:
  - '**/*.md'
services:
  - 'services/**'
packages:
  - 'packages/**'

fix(crow): reduce visible seams during motion
  frontend/public/corvid_crow_anim_v9.svg
Labels: none

feat(actions): ensure correct button mapping + reset-to-neutral
  frontend/public/corvid_crow_anim_v9.svg
  frontend/src/App.svelte
  frontend/src/components/Crow.svelte
  frontend/src/lib/CrowRig.svelte
  frontend/src/lib/crowRig.js
Labels: svelte

docs: add QA note for actions mapping, seams, and reset PR record
  docs/qa/actions-seams-reset.md
Labels: documentation

Update frontend/src/lib/CrowRig.svelte
  frontend/src/lib/CrowRig.svelte
Labels: svelte

feat(blink): eyelids slide toward center with slight overlap; tuned easing and timing for natural closure (#13)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-end.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-end.png
  docs/qa/actions-seams-reset-artifacts/walk-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-neutral.png
  frontend/src/lib/CrowRig.svelte
Labels: svelte

chore(qa): add live-site blink screenshots at 200% zoom; add Playwright live config and spec (#14)
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-200.png
  docs/qa/live/blink-live-neutral-200.png
  frontend/tests/playwright.live.config.ts
  frontend/tests/specs/live-blink.spec.ts
Labels: none

chore(qa): add live-site blink screenshots at 100% zoom; 1x Playwright config and spec (#15)
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/blink-live-neutral-100.png
  frontend/tests/playwright.live1x.config.ts
  frontend/tests/specs/live-blink-1x.spec.ts
Labels: none

docs(qa): add README with local/live capture instructions and commands (#16)
  docs/qa/README.md
Labels: documentation

chore: add Makefile for setup, build, test, QA, typecheck, lint, and deploy (#17)
  Makefile
Labels: none

docs: add Makefile shortcuts section to README (#18)
  README.md
Labels: documentation

chore(Makefile): add backend tasks (setup, run, test, health) and all target (build+deploy) (#19)
  Makefile
Labels: none

chore(Makefile): wire backend tests into ci; add Docker and Compose backend targets (#20)
  Makefile
Labels: none

feat(caw): create HeadUpper runtime group at jaw hinge; synchronize jaw with skull lift and neck thrust; reduce duration with snappier easing (fixes #21) (#22)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-end.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-end.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-end.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-end.png
  docs/qa/actions-seams-reset-artifacts/walk-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-neutral.png
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-200.png
  docs/qa/live/blink-live-neutral-200.png
  frontend/src/lib/CrowRig.svelte
Labels: svelte

feat(caw): add HeadSkull + NeckUpper runtime groups; synchronize skull/beakUpper/beakLower at jaw hinge; add neck-upper thrust; tweak headBob follow-through (refs #23) (#24)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-end.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-end.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-end.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-neutral.png
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/blink-live-mid-200.png
  frontend/src/lib/CrowRig.svelte
Labels: svelte

chore(qa): add live-site caw screenshots at 100% and 200% zoom with Playwright specs (#25)
  docs/qa/live/caw-live-end-100.png
  docs/qa/live/caw-live-end-200.png
  docs/qa/live/caw-live-mid-100.png
  docs/qa/live/caw-live-mid-200.png
  docs/qa/live/caw-live-neutral-100.png
  docs/qa/live/caw-live-neutral-200.png
  frontend/tests/specs/live-caw-1x.spec.ts
  frontend/tests/specs/live-caw.spec.ts
Labels: none

chore(Makefile): add live caw capture targets (qa-live-caw-200, qa-live-caw-100) (#26)
  Makefile
Labels: none

Update frontend/src/lib/CrowRig.svelte
  frontend/src/lib/CrowRig.svelte
Labels: svelte

Update frontend/src/lib/CrowRig.svelte
  frontend/src/lib/CrowRig.svelte
Labels: svelte

feat(rig): corvid skeleton v1 + articulated wings/neck (#27)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-end.png
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/blink-live-mid-200.png
  docs/qa/live/caw-live-end-100.png
  docs/qa/live/caw-live-end-200.png
  docs/qa/live/caw-live-mid-100.png
  docs/qa/live/caw-live-mid-200.png
  docs/qa/live/caw-live-neutral-200.png
  frontend/src/lib/CrowRig.svelte
  frontend/src/lib/rig/corvid_v1.json
Labels: svelte

feat(rig): Phase 3 — tail base + fan articulation (#28)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-end.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-end.png
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/blink-live-mid-200.png
  docs/qa/live/caw-live-end-100.png
  docs/qa/live/caw-live-end-200.png
  docs/qa/live/caw-live-mid-100.png
  docs/qa/live/caw-live-mid-200.png
  frontend/src/lib/CrowRig.svelte
  frontend/src/lib/rig/corvid_v1.json
Labels: svelte

feat(rig): Phase 4 — leg articulation for hop/walk (hip/ankle/toe with fallbacks); add step cycle; keep neutral with fill:none (#29)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-end.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/hop-end.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-neutral.png
  docs/qa/actions-seams-reset-artifacts/walk-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-neutral.png
  docs/qa/live/blink-live-end-100.png
  docs/qa/live/blink-live-end-200.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/blink-live-mid-200.png
  docs/qa/live/blink-live-neutral-200.png
  docs/qa/live/caw-live-end-100.png
  docs/qa/live/caw-live-end-200.png
  docs/qa/live/caw-live-mid-100.png
  docs/qa/live/caw-live-mid-200.png
  frontend/src/lib/CrowRig.svelte
Labels: svelte

feat(dev): in-app overlay toggle + event; Make targets for overlay; constraints.json action overrides; clamp per action (#30)
  docs/qa/actions-seams-reset-artifacts/blink-end.png
  docs/qa/actions-seams-reset-artifacts/blink-mid.png
  docs/qa/actions-seams-reset-artifacts/blink-neutral.png
  docs/qa/actions-seams-reset-artifacts/caw-end.png
  docs/qa/actions-seams-reset-artifacts/caw-mid.png
  docs/qa/actions-seams-reset-artifacts/caw-neutral.png
  docs/qa/actions-seams-reset-artifacts/headBob-end.png
  docs/qa/actions-seams-reset-artifacts/headBob-mid.png
  docs/qa/actions-seams-reset-artifacts/headBob-neutral.png
  docs/qa/actions-seams-reset-artifacts/hop-end.png
  docs/qa/actions-seams-reset-artifacts/hop-mid.png
  docs/qa/actions-seams-reset-artifacts/hop-neutral.png
  docs/qa/actions-seams-reset-artifacts/preen-end.png
  docs/qa/actions-seams-reset-artifacts/preen-mid.png
  docs/qa/actions-seams-reset-artifacts/preen-neutral.png
  docs/qa/actions-seams-reset-artifacts/walk-end.png
  docs/qa/actions-seams-reset-artifacts/walk-mid.png
  docs/qa/actions-seams-reset-artifacts/walk-neutral.png
  docs/qa/live/blink-live-mid-100.png
  docs/qa/live/caw-live-mid-100.png
  docs/qa/live/caw-live-neutral-100.png
  docs/qa/live/caw-live-neutral-200.png
  docs/qa/live/hop-live-end-100.png
  docs/qa/live/hop-live-end-200.png
  docs/qa/live/hop-live-mid-100.png
  docs/qa/live/hop-live-mid-200.png
  docs/qa/live/hop-live-neutral-100.png
  docs/qa/live/walk-live-mid-100.png
  docs/qa/live/walk-live-mid-200.png
  docs/qa/live/walk-live-neutral-100.png
  frontend/src/lib/CrowRig.svelte
  frontend/src/lib/SettingsPanel.svelte
  frontend/src/lib/rig/constraints.json
Labels: svelte

fix(frontend): beak closed on load; add skull tilt + neck thrust for caw; eyelids-only blink; CTA click isolation; hardened reset to neutral; constraints docs and issue template (#32)
  .github/ISSUE_TEMPLATE/beak_caw_blink_mapping.yml
  frontend/src/App.svelte
  frontend/src/lib/CrowRig.svelte
  frontend/src/lib/rig/CONSTRAINTS.md
Labels: svelte, documentation

feat: add horizontal locomotion (hop+walk) with position accumulation; keep skull/neck articulation (#34)
  frontend/src/lib/CrowRig.svelte
Labels: svelte
